body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to bottom right, #1A3C64, #1E3148);
  color: #fff;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 30px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.search-bar {
  padding: 12px;
  border-radius: 5px;
  border: none;
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
  font-size: 16px;
}

.add-music-btn {
  display: inline-block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #1db954;
  color: white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.2s;
}

.add-music-btn:hover {
  background-color: #17a14b;
  transform: scale(1.05);
}

.songs {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.song {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 10px 0;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  max-width: 500px;
  transition: background-color 0.3s, transform 0.2s;
}

.song:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: scale(1.02);
}

.player {
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.playImg{
  width: 15px;
  height: auto;
}

.current-song {
  margin-bottom: 15px;
}

.current-song h4 {
  font-size: 20px;
  margin: 0;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.controls button {
  background-color: #1db954;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 15px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.controls button:hover {
  background-color: #17a14b;
  transform: scale(1.05);
}
